/run/assets/skins/
/run/logs/
/run/saves/
/run/resourcepacks/
/run/screenshots/
/run/crash-reports/
/run/generated/
/run/options.txt
/run/optionsof.txt
/run/servers.dat
/run/usercache.json
/run/agent.jar
*.log