/run/assets/skins/
/run/logs/
/run/saves/
/run/resourcepacks/
/run/screenshots/
/run/shaderpacks/
/run/crash-reports/
/run/generated/
/run/options.txt
/run/optionsof.txt
/run/servers.dat
/run/usercache.json
/run/libgcc_s_seh-1.dll
/run/libstdc++-6.dll
/run/libwinpthread-1.dll
*.log

/run/natives/api-ms-win-core-console-l1-1-0.dll
/run/natives/api-ms-win-core-datetime-l1-1-0.dll
/run/natives/api-ms-win-core-console-l1-2-0.dll
/run/natives/api-ms-win-core-debug-l1-1-0.dll
/run/natives/api-ms-win-core-errorhandling-l1-1-0.dll
/run/natives/api-ms-win-core-file-l1-1-0.dll
/run/natives/api-ms-win-core-file-l1-2-0.dll
/run/natives/api-ms-win-core-file-l2-1-0.dll
/run/natives/api-ms-win-core-handle-l1-1-0.dll
/run/natives/api-ms-win-core-heap-l1-1-0.dll
/run/natives/api-ms-win-core-interlocked-l1-1-0.dll
/run/natives/api-ms-win-core-libraryloader-l1-1-0.dll
/run/natives/api-ms-win-core-localization-l1-2-0.dll
/run/natives/api-ms-win-core-memory-l1-1-0.dll
/run/natives/api-ms-win-core-namedpipe-l1-1-0.dll
/run/natives/api-ms-win-core-processenvironment-l1-1-0.dll
/run/natives/api-ms-win-core-processthreads-l1-1-0.dll
/run/natives/api-ms-win-core-processthreads-l1-1-1.dll
/run/natives/api-ms-win-core-profile-l1-1-0.dll
/run/natives/api-ms-win-core-rtlsupport-l1-1-0.dll
/run/natives/api-ms-win-core-string-l1-1-0.dll
/run/natives/api-ms-win-core-synch-l1-1-0.dll
/run/natives/api-ms-win-core-synch-l1-2-0.dll
/run/natives/api-ms-win-core-sysinfo-l1-1-0.dll
/run/natives/api-ms-win-core-timezone-l1-1-0.dll
/run/natives/api-ms-win-core-util-l1-1-0.dll
/run/natives/api-ms-win-crt-conio-l1-1-0.dll
/run/natives/api-ms-win-crt-convert-l1-1-0.dll
/run/natives/api-ms-win-crt-environment-l1-1-0.dll
/run/natives/api-ms-win-crt-filesystem-l1-1-0.dll
/run/natives/api-ms-win-crt-heap-l1-1-0.dll
/run/natives/api-ms-win-crt-locale-l1-1-0.dll
/run/natives/api-ms-win-crt-math-l1-1-0.dll
/run/natives/api-ms-win-crt-multibyte-l1-1-0.dll
/run/natives/api-ms-win-crt-private-l1-1-0.dll
/run/natives/api-ms-win-crt-process-l1-1-0.dll
/run/natives/api-ms-win-crt-runtime-l1-1-0.dll
/run/natives/api-ms-win-crt-stdio-l1-1-0.dll
/run/natives/api-ms-win-crt-string-l1-1-0.dll
/run/natives/api-ms-win-crt-time-l1-1-0.dll
/run/natives/api-ms-win-crt-utility-l1-1-0.dll
/run/natives/decora_sse.dll
/run/natives/fxplugins.dll
/run/natives/glass.dll
/run/natives/glib-lite.dll
/run/natives/gstreamer-lite.dll
/run/natives/javafx_font.dll
/run/natives/javafx_iio.dll
/run/natives/jfxmedia.dll
/run/natives/jfxwebkit.dll
/run/natives/msvcp140.dll
/run/natives/msvcp140_1.dll
/run/natives/msvcp140_2.dll
/run/natives/prism_common.dll
/run/natives/prism_d3d.dll
/run/natives/prism_sw.dll
/run/natives/ucrtbase.dll
/run/natives/vcruntime140.dll
/run/natives/vcruntime140_1.dll
