/run/assets/skins/
/run/logs/
/run/saves/
/run/resourcepacks/
/run/screenshots/
/run/shaderpacks/
/run/crash-reports/
/run/generated/
/run/options.txt
/run/optionsof.txt
/run/servers.dat
/run/usercache.json
/run/libgcc_s_seh-1.dll
/run/libstdc++-6.dll
/run/libwinpthread-1.dll
*.log
